.slider {
    overflow-x: auto;
    max-width: 800px;
    height: 150px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #669ac0;

    &::-webkit-scrollbar {
        display: none;
    }
    &__container {
        display: inline-flex;
        overflow-x: hidden;
        height: 100%;
    }
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    color: white;
    height: 100%;
    &__img {
        width: 50px;
    }
    &__temp {
        font-size: 20px;
        position: relative;
        &::after,
        &::before {
            position: absolute;
            content: '';
            right: calc(50% - 20px);
            top: 0;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: white;
        }
        &::before {
            background-color: #78aed4;
            width: 3px;
            height: 3px;
            z-index: 1;
            top: 2px;
            right: calc(50% - 18px);
        }
    }
    &__hour {
        font-size: 16px;
    }
}
